<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/style.css">
    <title>Maps: Trabajo de topicos en mapas</title>
    <link href="https://bootswatch.com/5/vapor/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</head>

<body>
    <br>
    <div class="container-fluid card border-primary mb-3 col4" style="max-width: 50rem;">
        <form action="" method="post">
            <fieldset>
                <legend>Parametros del Maps</legend>
                <div class="form-group">
                    <label for="ubicacion_evento" class="form-label mt-4">Ubicacion:</label>
                    <div id="mapa" style="width: 100%; height: 500px;">
                    </div>
                    <small id="" class="form-text text-muted">Marque la ubicación.</small>
                </div>
                <div class="form-group">
                    <label for="latitud" class="form-label mt-4">Latitud: </label>
                    <input type="text" class="form-control" id="latitud" name="latitud" aria-describedby="emailHelp"
                        placeholder="Aqui se vera el numero de la latitud marcada en el mapa" readonly="">
                    <small id="" class="form-text text-muted">Esta es la latitud que marco en su mapa.</small>
                </div>
                <div class="form-group">
                    <label for="longitud" class="form-label mt-4">Longitud: </label>
                    <input type="text" class="form-control" id="longitud" name="longitud" aria-describedby="emailHelp"
                        placeholder="Aqui se vera el numero de la longitud marcada en el mapa" readonly="">
                    <small id="" class="form-text text-muted">Esta es la latitud que marco en su mapa.</small>
                </div>
                <div class="form-label mt-4">
                    <center>
                        <!--<a type="button" class="btn btn-success" href="/api/evento/vista22">Crear parametros del evento principal o subevento</a>-->
                        <!--<a type="button" class="btn btn-danger" href="/api/evento/vista22">Cancelar</a>-->
                        <button type="submit" class="btn btn-success" >No se que hara esto</button>
                        <a type="button" class="btn btn-danger" href="">No hace nada esto</a>
                    </center>
                </div>
        </form>
    </div>
    <!--
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap"
    defer
    ></script>
    -->
    <script type="module" src="/js/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
    <!--<script src="script.js"></script>    -->
</body>

</html>